{% extends 'base.html.twig' %}

{% block title %}Circuit {{ circuit.id}}{% endblock %}

{% block main %}
<h1>Circuit {{circuit.id}}</h1>

{{ dump(circuit) }}

<h2>Etapes du circuit</h2>
<table>
    <thead>
        <tr>
            <th>Numéro</th>
            <th>Ville</th>
            <th>Nombre de jours</th>
        </tr>
    </thead>

    {%  for etape in circuit.etapes %}
        <tr>
            <td>{{ etape.numeroEtape }}</td>
            <td>{{ etape.villeEtape }}</td>
            <td>{{ etape.nombreJours }}</td>
        </tr>
        {% endfor %} {# etapes #}
</table>

<h2>Programmations</h2>
<table>
    <thead>
        <tr>
            <th>Date de départ</th>
            <th>Nombre de personnes</th>
            <th>Prix</th>
        </tr>
    </thead>

    {%  for programmation in circuit.programmations %}
        <tr>
            <td>{{ programmation.dateDepart|date("d/m/Y") }}</td>
            <td>{{ programmation.nombrePersonnes }}</td>
            <td>{{ programmation.prix }}€</td>
        </tr>
        {% endfor %} {# programmations #}
</table>


<a href="{{ path('frontoffice_home') }}">retour à l'accueil</a>
{% endblock %}