{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}
{% block title %}Circuit index{% endblock %}

{% block main %}
    <div class="container">

        <h1>Circuit index</h1>

        <div class="row">

            {% for circuit in circuits %}
                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="https://via.placeholder.com/350x250" alt="Card image">
                        <div class="card-body">
                            <h5 class="card-title">{{ circuit.description }}</h5>
                            <p class="card-text">
                                {{ circuit.paysDepart }}
                                :
                                {{ circuit.dureeCircuit ? circuit.dureeCircuit: '' }}
                                jours depuis
                                {{ circuit.villeDepart }}
                                jusqu'à
                                {{ circuit.villeArrivee}}
                            </p>
                            <a href="{{ path('circuit_show', {id: circuit.id}) }}" class="btn btn-primary">DÉTAILS</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}