{% extends 'base.html.twig' %}

{% block title %}Circuit index{% endblock %}

{% block main %}
    <h1>Circuit index</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Pays de départ</th>
                <th>Ville de Départ</th>
                <th>Ville d'Arrivée</th>
                <th>Durée du circuit</th>
                <th> &nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for circuit in circuits %}
            <tr>
                <td>{{ circuit.id }}</td>
                <td>{{ circuit.description }}</td>
                <td>{{ circuit.paysDepart }}</td>
                <td>{{ circuit.villeDepart }}</td>
                <td>{{ circuit.villeArrivee }}</td>
                <td>{{ circuit.dureeCircuit ? circuit.dureeCircuit: '' }}</td>
                <td><a href="{{ path('front_circuit_show', {id: circuit.id}) }}">détails</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
