<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!{% endblock %}
        </title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="/js/bootstrap.min.js"></script>

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ path('home') }}">T&amp;R</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('frontoffice_home') }}">See all circuits
                            <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <ul class="navbar-nav my-2 my-lg-0">
                    {% if is_granted("ROLE_ADMIN") %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('back/circuit_index') }}">
                                Circuits
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('back/etape_index') }}">
                                Etapes
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_security_login') }}">
                            {% if app.user %}
                                {{ app.user.username }}
                            {% else %}
                                Login
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        {% block body %}
            {% block menu %}{% endblock %}
            {# menu #}
            {% block main %}MAIN{% endblock %}
            {# main #}
        {% endblock %}
        {# body #}

        {% block footer %}
            <div ></div>
        {% endblock %}
        {# footer #}
    </body>
    {% block javascripts %}{% endblock %}
    {# javascripts #}
    {% block custompage_script %}{% endblock %}
    {# custompage_scripts #}
</html>