{% extends 'base.html.twig' %}

{% block title %}Circuit{% endblock %}

{% block body %}
    <h1>Circuit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ circuit.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ circuit.description }}</td>
            </tr>
            <tr>
                <th>PaysDepart</th>
                <td>{{ circuit.paysDepart }}</td>
            </tr>
            <tr>
                <th>VilleDepart</th>
                <td>{{ circuit.villeDepart }}</td>
            </tr>
            <tr>
                <th>VilleArrivee</th>
                <td>{{ circuit.villeArrivee }}</td>
            </tr>
            <tr>
                <th>DureeCircuit</th>
                <td>{{ circuit.dureeCircuit }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('back/circuit_edit', {'id': circuit.id}) }}">edit</a>

    <h1>Etapes</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>NumeroEtape</th>
                <th>VilleEtape</th>
                <th>NombreJours</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for etape in etapes %}
                <tr>
                    <td>{{ etape.id }}</td>
                    <td>{{ etape.numeroEtape }}</td>
                    <td>{{ etape.villeEtape }}</td>
                    <td>{{ etape.nombreJours }}</td>
                    <td>
                        <a href="{{ path('back/etape_show', {'id': etape.id}) }}">show</a>
                        <a href="{{ path('back/etape_edit', {'id': etape.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('back/circuit_add_etape', {'id': circuit.id}) }}">Add etape</a>

    <a href="{{ path('back/circuit_index') }}">back to list</a>

    {{ include('back/circuit/_delete_form.html.twig') }}
{% endblock %}